.boost_grid {
  display: grid;
  grid-template-columns: 321px 321px 321px 321px 321px 321px;
  grid-template-rows: 371px;
  margin-left: 200px;
  column-gap: 10px;
  top: 95px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 950px;
  padding-bottom: 10px;
}

.boost_grid:hover {
  overflow-x: auto;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.boost_grid::-webkit-scrollbar {
  height: 10px; /* Thin scrollbar width */
}

.boost_grid::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark gray color for the scrollbar */
  border-radius: 10px; /* Rounded edges for the scrollbar */
}

.boost_grid::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Lighter gray on hover */
}

.boost_grid::-webkit-scrollbar-track {
  background: transparent; /* Transparent background for the track */
}

.boost_title {
  display: flex;
  direction: row;
  white-space: nowrap;
  align-items: center;
  margin-top: 7px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.boost_teams {
  display: flex;
  direction: row;
  align-items: center;
  white-space: nowrap;
}

.sport-category,
.team-icon1,
.team-icon2 {
  object-fit: cover;
  width: 25px;
  height: 25px;
}

.sport-category {
  margin-left: 1px;
  margin-right: 3px;
}

.team-icon1 {
  margin-left: 8px;
  padding-top: 5px;
}

.super-boost {
  width: 100px;
  font-size: 13 px;
  font-weight: bold;
  color: white;
  display: flex;
  direction: row;
  align-items: center;
}

.super {
  color: yellow;
  margin-left: 20px;
}

.boost {
  margin-left: 5px;
}

.boost-box {
  background-color: rgb(36, 38, 41);
  border-radius: 8px;
}

.boost_legs {
  display: flex;
  direction: row;
}

.legs {
  color: white;
  font-size: 12px;
  align-items: center;
  display: flex;
  direction: row;
  margin-top: 5px;
}

.circle-icon {
  object-fit: cover;
  height: 12px;
  width: 12px;
  margin-right: 10px;
  margin-left: 7px;
}

.odds_button {
}
